@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap');

* {
    margin: 0px
}

body {
    font-family: 'Montserrat', sans-serif;

}

.navegacion {
    
    background-color: #fafafa;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.linkheader {
   
    margin-right: 20px;
    color: rgb(0, 0, 0);
    list-style: none;
    text-decoration: none;

}

.linkheader-boton-azul {
    color: whitesmoke;
    background-color: #4BBEBE;
    text-decoration: none;
    font-weight: 200;
    height: 30px;
    width:150px;
    padding: 5px;
    border-radius: 100px;
   
  
}
/* aqui termina navegacion */

.presentacion {
    background: url(./img/fondo-presentacion.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px;
    

}

.texto-presentacion { text-align: center;
    margin-top: 80px;

}

.tittle-parrafo-presentacion: {
     font-size: 50px;
}


.nombre { 
    
    font-weight: 900;
    font-size: 60px;
    color: #000000;
    margin-top: 10px;
}
.imagen-presentacion {
    height: auto;
    width: 120%;
}

/* aqui termina presentacion */


.misconocimientos {
    height: 120vh;


}

.contenedor {
    margin-top: 50px;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #2E2E31;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.seccion-principal {
    

    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    margin: 10px;
    width: 250px;
    height: 210px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.imagen {
    width: 100px;
    height: 95px;
}

.text-parrafo-1 {
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    line-height: 1.4;
}

.tittle-parrafo-1 {
    text-align: center;
    font-weight: 900;
    font-size: 45px;
    margin-top: 60px;
}

/* aqui termina misconocimientos */

/* empieza la frase */
.frase {
    background-color: #7F95D1;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:whitesmoke
    

}

.comilla {
    font-family: 'Passion One', cursive;
    font-size: 180px;
   
}

.oracion {
    font-size: 20px;
    font-style: italic;
}
.VirginiaWolf {margin-top: 50px;
    font-weight: 60px;
    
}
    
/* aqui termina la frase*/

/* empieza proyectos */


.listaproyectos { 
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    


} 
.proyectos-container {
    background-color: ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 30px;
}

.imagen-proyecto {height: 150px;
    width: auto;


}

/* aqui termina "proyectos"*/

.footer {
    background-color: #FFC0BE ;
    display: flex;
    
    
}

.navegacion-footer { display: flex;
  
    justify-content: center;
    padding-top: 110px;

}

/* aqui termina "footer"*/
