@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');


body { margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;

}

.navegacion {
    
    background-color: #fafafa;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.linkheader {
   
    margin-right: 10px;
    color: rgb(0, 0, 0);
    list-style: none;
    text-decoration: none;

}


.presentacion {
    background-color: #fcecf5;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.texto-presentacion { text-align: center;

}

.tittle-parrafo-presentacion: {    font-size: 40px;

}


.nombre { font-weight: 900;
    font-size: 60px;
    color: #000000;
}
.imagen-presentacion {
    height: 800px;
}


.misconocimientos {display: flex;
    justify-content: center;
    height: 100vh;


}

.contenedor {
    margin-top: 50px;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #2E2E31;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.seccion-principal {
    

    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    margin: 10px;
    width: 250px;
    height: 210px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.imagen {
    width: 100px;
    height: 95px;
}

.text-parrafo-1 {
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    line-height: 1.4;
}

.tittle-parrafo-1 {
    text-align: center;
    font-weight: 900;
    font-size: 45px;
    margin-top: 60px;
}
.frase {
    background-color: #FFD23F;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.proyectos {
    background-color: ;
    height: 100vh;
}



.footer {
    background-color: #00C793;
    height: 35vh;
}

.navegacion-footer { display: flex;
    justify-content: center;
    



}